* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --padding-general: 10px;
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(var(--padding-general) * 2);
    font-size: 1.2rem;
    background-color: #d3d3d3;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #000000;
}

/* Main */

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button.add-book {
    padding: var(--padding-general);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: aliceblue;
}

/* Footer */

footer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: var(--padding-general);
    font-size: 1.2rem;
    background-color: gray;
    bottom: 0;
    width: 100%;
}

/* Modal and Overlay */

.modal {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form */

form {
    background-color: lightblue;
    width: 295px;
    height: 350px;
    border-radius: 20px;
    row-gap: 1.2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

form input {
    font-size: 1.2rem;
    height: 2.2rem;
    border-radius: 10px;
    border: none;
}