* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Roboto, sans-serif;
    letter-spacing: var(--default-letter-spacing);
}

html {
    position: relative;
    min-height: 100%;
}

:root {
    --default-letter-spacing: 0.15rem;
    --padding-general: 10px;
    --button-transition: 0.15s ease-in-out;
    --focus-border: 2px solid #000000;
}

@font-face {
    font-family: Neue;
    src: url(./fonts/BebasNeue-Regular.woff2); 
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Light.ttf);
}

/* Header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(var(--padding-general) * 2);
    font-size: 1.2rem;
    background-color: #d3d3d3;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
}

h1[class='title'] {
    font-family: Neue;
    letter-spacing: 0.5rem;
}

button:focus,
input:focus,
label:focus {
    border: var(--focus-border);
}

/* Main */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: 35px auto;
}

button.add-book {
    transition: var(--button-transition);
    padding: var(--padding-general);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: #d3e8fa;
    width: fit-content;
    align-self: center;
    border: none;
}

button.add-book:hover {
    background-color: #9bc7ee;
}

/* Modal and Overlay */

.modal {
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
}

.modal.active {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

/* Form */

form {
    font-family: Neue, sans-serif;
    background-color: #d3c2e6;
    width: 295px;
    height: 350px;
    border-radius: 20px;
    row-gap: 1.2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

form input {
    font-size: 1.3rem;
    max-width: 250px;
    height: 2.2rem;
    border-radius: 10px;
    padding: var(--padding-general);
    border: none;
}

div.checkbox {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

label[for="read"] {
    display: flex;
    align-items: center;
    gap: 7px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    font: inherit;
    display: grid;
    place-content: center;
    appearance: none;
    border: 0.15em solid black;
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.15em;
}

input[type="checkbox"]::before {
    scale: 0;
    transition: 100ms ease-in-out;
    content: '';
    height: 1em;
    width: 1em;
    box-shadow: inset 1em 1em black;
    background-color: CanvasText;
    clip-path: polygon(41% 52%, 26% 35%, 10% 51%, 37% 88%, 37% 88%, 37% 88%, 37% 88%, 37% 88%, 91% 33%, 78% 18%);
}

input[type="checkbox"]:checked::before {
    scale: 1;
}

button[type="submit"] {
    padding: 7px 12px;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    font-weight: bold;
    transition: var(--button-transition);
}

button[type="submit"]:hover {
    background-color: #e4e4e4;
}

textarea:focus,
input:focus {
    outline: none;
    outline: none;
}

/* Book Grid */

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 1.3rem;
    padding: 30px;
    padding-bottom: 50px;
    justify-content: space-around;
}

/* Book Card */

.book-card {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.2rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1.3rem;
    border: 3px solid #000000;
    border-radius: 15px;
}

.button-group {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1.2rem;
    width: 95%;
}

.button-group button {
    font-size: inherit;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    width: 100%;
}

.read {
    background-color: #8be48b;
    transition: var(--button-transition);
}

.read:hover {
    background-color: #a9faa9;
}

.unread {
    background-color: #ee7474;
    transition: var(--button-transition);
}

.unread:hover {
    background-color: rgb(247, 97, 97);
}

.remove {
    background-color: #dddada;
    transition: var(--button-transition);
}

.remove:hover {
    background-color: #c4c4c4;
}

/* Footer */

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-general);
    font-size: 1.3rem;
    background-color: #808080;
    width: 100%;
    bottom: 0;
}